{% if content | length %}
<section class="c-article-content">
  {% for block in content %}
    {% if block.type == "textBlock" %}
      <div class="c-section  c-article-content__text-block">
        <div class="o-wrapper  u-constrain--tiny">
          {{ block.body }}
        </div>
      </div>
    {% endif %}
    {% if block.type == "antoherBlock" %}

    {% endif %}
  {% endfor %}
</section>
{% endif %}
