<nav class="c-primary-nav  js-primary-nav">
  <div class="o-wrapper  c-primary-nav__wrapper">
    <ul class="c-primary-nav__list  js-primary-nav-list  o-list-bare">
      <li class="c-primary-nav__list-item  js-primary-nav-list-item">
        <a href="/" class="c-primary-nav__list-link">Home</a>
      </li>
      {# Add more items #}
    </ul>
  </div>
</nav>
