/* =======================
   Components/Container
   ======================= */
.c-container {
  height: 150%;
  overflow: hidden;
  position: relative;
  width: 350%;

  @include mq($from: tablet) {
    width: 200%;
  }

  @include mq($from: desktop) {
    height: 110%;
    width: 140%;
  }

  @include mq($from: wide) {
    width: 110%;
  }
}
