/* =======================
   Components/Othello
   ======================= */
.c-othello {
  position: absolute;

  &:nth-child(1) {
    left: 96px;
    top: 96px;
    z-index: 0;
  }

  &:nth-child(2) {
    left: 180px;
    top: 172px;
    z-index: 10;
  }
}

.c-othello__container {
  position: relative;
  width: 120px;
}

  .c-othello__item {
  }

  .c-othello__black {
  }

    .c-othello__image {
      backface-visibility: hidden;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      left: 0;
      width: 100%;
      user-select: none;
      visibility: hidden;

      &.active {
        opacity: 1 !important;
        visibility: visible !important;
      }

      &:nth-child(1) {
        bottom: 0;
      }

      &:nth-child(2) {
        bottom: 112px;
      }

      &:nth-child(3) {
        bottom: 196px;
      }

      &:nth-child(4) {
        bottom: 210px;
      }

      &:nth-child(5) {
        bottom: 224px;
      }

      &:nth-child(6) {
        bottom: 224px;
      }

      &:nth-child(7) {
        bottom: 210px;
      }

      &:nth-child(8) {
        bottom: 196px;
      }

      &:nth-child(9) {
        bottom: 112px;
      }
    }
