/* =======================
   Elements/Form
   ======================= */

input[type=text], input[type=email], input[type=password] {
  background-color: color(white);
  color: color(black);
  border: none;
  padding: $unit $unit-small;
  width:100%;
  text-align: center;
  @include font-family('serif');
}

textarea {
  background-color: color(white);
  color: color(black);
  border: none;
  padding: $unit $unit-small;
  width:100%;
  height: auto;
}

select {
  outline: none;
  display: none;
}


label.error {
  display: block;
  color: color(red);
  margin-top: $unit-tiny;
  @include font-size(14px, 1.4);
  text-align: left;
}
