/* =======================
   Tools/Fonts
   ======================= */

@mixin font-weight($font-weight) {
  @if ($font-weight == "thin")          { font-weight: 100; }
  @if ($font-weight == "ultra-light")   { font-weight: 200; }
  @if ($font-weight == "light")         { font-weight: 300; }
  @if ($font-weight == "normal")        { font-weight: 400; }
  @if ($font-weight == "medium")        { font-weight: 500; }
  @if ($font-weight == "semi-bold")     { font-weight: 600; }
  @if ($font-weight == "bold")          { font-weight: 700; }
  @if ($font-weight == "ultra-bold")    { font-weight: 800; }
  @if ($font-weight == "heavy")         { font-weight: 900; }
}

@mixin font-family($font-family) {
  @if ($font-family == "sans-serif") {

  }

  @if ($font-family == "serif") {

  }

  @if ($font-family == "serif-italic") {

  }
}



@mixin font-size($args...) {
  @include inuit-font-size($args...);
}


@mixin font-size-heading {
  @include font-size(30px, 1.3);
  font-weight: 400;

  @include mq($from: desktop) {
    @include font-size(42px, 1.3);
  }
}

@mixin font-size-heading-large {
  @include font-size(36px, 1.2);
  font-weight: 400;

  @include mq($from: desktop) {
    @include font-size(64px, 1.1);
  }
}

@mixin font-size-heading-small {
  @include font-size(20px, 1.3);
  font-weight: 400;
}

@mixin font-size-heading-tiny {
  @include font-size(12px, 1.6);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing:0.08em;
}

@mixin body-copy-small {
  @include font-size(16px, 1.5);
}

@mixin body-copy-large {
  @include font-size(28px, 1.5);
}

@mixin icon-styles {
  display: inline-block;
  font: normal normal normal 14px/1 "Black Tie";
  font-size: inherit;
  vertical-align: -14.28571429%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}
