// SETTINGS
$inuit-global-font-size:   20px;
$inuit-global-line-height: 30px;
@import "../../node_modules/inuitcss/settings/settings.core";
@import "settings.colors";


// TOOLS
@import "../../node_modules/inuitcss/tools/tools.rem";
@import "../../node_modules/inuitcss/tools/tools.font-size";
@import "../../node_modules/inuitcss/tools/tools.clearfix";
@import "../../node_modules/inuitcss/tools/tools.hidden";
$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px,
  u-wide:  1600px
);
@import "../../node_modules/sass-mq/mq";
@import "tools.aliases";
@import "tools.color";


// GENERIC
@import "../../node_modules/inuitcss/generic/generic.box-sizing";
@import "../../node_modules/inuitcss/generic/generic.normalize";
@import "../../node_modules/inuitcss/generic/generic.reset";
@import "../../node_modules/inuitcss/generic/generic.shared";


// ELEMENTS
@import "../../node_modules/inuitcss/elements/elements.page";
@import "elements.page";
@import "../../node_modules/inuitcss/elements/elements.images";
@import "../../node_modules/inuitcss/elements/elements.tables";


// OBJECTS
@import "../../node_modules/inuitcss/objects/objects.wrapper";
@import "../../node_modules/inuitcss/objects/objects.layout";
@import "../../node_modules/inuitcss/objects/objects.media";
@import "../../node_modules/inuitcss/objects/objects.flag";
@import "../../node_modules/inuitcss/objects/objects.list-bare";
@import "../../node_modules/inuitcss/objects/objects.list-inline";
@import "../../node_modules/inuitcss/objects/objects.box";
@import "../../node_modules/inuitcss/objects/objects.block";
@import "../../node_modules/inuitcss/objects/objects.ratio";
@import "../../node_modules/inuitcss/objects/objects.crop";
@import "../../node_modules/inuitcss/objects/objects.tables";
@import "../../node_modules/inuitcss/objects/objects.pack";


// COMPONENTS
@import "components.lines";
@import "components.container";
@import "components.othello";


// UTILITIES
@import "../../node_modules/inuitcss/utilities/utilities.clearfix";
@import "../../node_modules/inuitcss/utilities/utilities.widths";
@import "../../node_modules/inuitcss/utilities/utilities.spacing";
@import "../../node_modules/inuitcss/utilities/utilities.print";
@import "../../node_modules/inuitcss/utilities/utilities.hide";
