{#
 # 404 template
 #}

{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "404" %}

{% block content %}
<div class="ajax-container__wrapper">
  <div class="o-wrapper">
    <h1>{{ entry.title }}</h1>
  </div>
</div>
{% endblock %}
